.ordered-list {
    padding: 0 10px;
  }

.custom-checkbox {
  cursor: pointer;
  width: 15px; 
  height: 15px;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
}

.unyama {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
  max-width: 160px;
  width: 100%;
  gap: 0 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .ordered-list {
    padding: 10px 0;
  }
  .info {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  }
  .unyama {
  position: absolute;
  top: 20px;
}
}