body {
  max-width: 1200px;
  width: 100%;
}

.todo-container {
  max-width: 400px;
  width: 100%;
  font-size: 12px;
}

.ordered-list {
    padding: 0 10px;
    border-radius: 5px;
  }

.custom-checkbox {
  cursor: pointer;
  width: 15px; 
  height: 15px;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
}

.search {
  outline: none;
  padding: 5px 35px;
  font-size: 16px;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
  width: 100%;
  gap: 0 10px;
  padding: 0 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .todo-container {
  max-width: 320px;
}
  .ordered-list {
    font-size: 12px;
    padding: 0;
  }
  .info {
  height: 40px;
  font-size: 10px;
  padding: 0 20px;
}
  .wrapper {
  position: absolute;
  top: 37px;
  right: 0;
  left: 0;
  justify-content: center;
  gap: 0 15px;
  margin: 15px 0;
  padding: 5px 15px;
  background-color: gray;
  max-width: 29em;
  border-radius: 5px;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
}
}