.wrapper {
  max-width: 400px;
  width: 100%;
}

.ordered-list {
    padding: 0 10px;
    border-radius: 5px;
  }

.custom-checkbox {
  cursor: pointer;
  width: 15px; 
  height: 15px;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
}

.unyama {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
  width: 100%;
  gap: 0 10px;
  padding: 0 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .wrapper {
  max-width: 300px;
}
  .ordered-list {
    font-size: 16px;
    /* padding: 5px 0; */
  }
  .info {
  height: 40px;
  font-size: 10px;
  padding: 0 20px;
}
  .unyama {
  position: absolute;
  top: 37px;
  right: 0;
  left: 0;
  justify-content: center;
  gap: 0 15px;
  margin: 15px 0;
  padding: 3px 15px;
  background-color: gray;
  /* max-width: 26.5em; */
  border-radius: 5px;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
}
}